*
!VERSION
!Dockerfile
!nginx.conf
!.python-version
!README.md
!Justfile
!.github/
!.github/workflows/
!.github/workflows/website.yml
!website/
!website/**
website/dist/
website/csp-header.conf
website/__pycache__/

website/.template-cache/
